<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--
		<add key="GalleryUrlFormat" value="http://gallery.me.com/{0}/?webdav-method=truthget&amp;feedfmt=recentrss&amp;maxrec=100" />
		<add key="GalleryUrlFormat" value="http://gallery.me.com/{0}?webdav-method=truthget&amp;feedfmt=json&amp;depth=1" />
		-->
		<!--<add key="GalleryUrlFormat" value="http://localhost:19788/{0}.js" />-->
		<add key="ConfigServiceUri" value="../ConfigService/all" />
		<add key="GalleryServiceUri" value="../GalleryService" />
		<add key="DefaultUsername" value="emily_parker" />
		<add key="GalleryUrlFormat" value="http://gallery.me.com/{0}?webdav-method=truthget&amp;feedfmt=json&amp;depth=1" />
		<add key="AlbumUrlFormat" value="http://gallery.me.com/{0}/{1}?webdav-method=truthget&amp;feedfmt=json&amp;depth=album" />
		<add key="KeyImageFormat" value="{0}?derivative=square&amp;source=web.jpg&amp;type=square" />
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</modules>
	</system.webServer>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<!--<system.serviceModel>
  <behaviors>
   <serviceBehaviors>
    <behavior name="Gallery.Web.Services.GalleryServiceBehavior">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
   </serviceBehaviors>
	  <endpointBehaviors>
		  <behavior name="WebHttp">
			  <webHttp />
		  </behavior>
	  </endpointBehaviors>
  </behaviors>
  <services>
   <service behaviorConfiguration="Gallery.Web.Services.GalleryServiceBehavior"
    name="Gallery.Web.Services.GalleryService">
    <endpoint address="" binding="basicHttpBinding" contract="Gallery.Web.Services.IGalleryService">
     -->
	<!--<identity>
      <dns value="localhost" />
     </identity>-->
	<!--
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	 <endpoint address="web" behaviorConfiguration="WebHttp"
     binding="webHttpBinding" bindingConfiguration="" contract="Gallery.Web.Services.IGalleryService" />
   </service>
  </services>
 </system.serviceModel>-->
	<!--<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<behaviors>
			<endpointBehaviors>
				<behavior name="WebHttp">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="Gallery.Web.Services.GalleryServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="Gallery.Web.Services.GalleryServiceBehavior"
			 name="Gallery.Web.Services.GalleryService">
				<endpoint address="" binding="basicHttpBinding" contract="Gallery.Web.Services.IGalleryService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="web" behaviorConfiguration="WebHttp" binding="webHttpBinding"
				 bindingConfiguration="" contract="Gallery.Web.Services.IGalleryService" />
			</service>
		</services>
	</system.serviceModel>-->
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<standardEndpoints>
			<webHttpEndpoint>
				<!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
				<standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>
</configuration>
